.header {
    background: rgba(137, 25, 44, 0.9);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index__default - 1;

    width: 100%;
    height: $header-height;

    @extend %transition__default;
    transition-property: transform;

    &--collapsed {
        transform: translateY(-101%);
    }

    &__container {
        @extend %flex-row-center;

        width: 100%;
        height: 100%;
    }
}