.button {
    background: $white;
    border: 1px solid $black;
    border-radius: 4px;

    color: $black;
    cursor: pointer;
    display: inline-block;

    @extend %transition-default;
    transition-property: background, color;

    @media (hover: hover) {
        &:hover {
            background: $black;
            color: $white;
        }
    }

    &__container {
        @extend %centered;

        padding: 8px 12px;
        position: relative;
    }
}