* {
    box-sizing: border-box;
    box-shadow: none;

    font-family: 'Manrope', sans-serif;

    list-style: none;

    margin: 0;
    padding: 0;

    outline: none;

    text-decoration: none;
}

@import './vars/__vars';
@import './components/__pop-up';
@import './components/__header';

body {
    &.fixed {
        overflow: hidden;
    }
}

main.main {
    padding-top: $header-height;
}

section {
    border: 2px dotted rgba(50, 50, 50, 0.9);
    height: 80vh;
}