* {
    box-sizing: border-box;
    box-shadow: none;

    font-family: 'Manrope', sans-serif;

    list-style: none;

    margin: 0;
    padding: 0;

    outline: none;
    text-decoration: none;
}

@import './vars/vars';
@import './components/buttons';
@import './components/pop-up';
@import './components/header';

@import './sections/intro';


html, body {
    font-size: $font-size-default;
    scroll-behavior: smooth;
}

body {
    min-width: $breakpoint-default;

    overflow-y: scroll;

    &.fixed {
        overflow: hidden;
    }
}

main.main {
    // padding-top: $header-height;
}

section {
    // 
}

h2 {
    display: inline-block;
    padding-bottom: 8px;
    position: relative;

    &:after {
        background: $black;
        content: '';
        display: block;

        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 1px;
    }
}